.search-input {
  color: var(--search-text);
  background: var(--search-background);
  width: 100%;
  max-width: 30rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-input:focus {
  outline: none;
}